.contact-text {

	&:not(:last-child) {
		margin-bottom: 35px;
	}

}

.contact-items {
	list-style: none;

	&:not(:last-child) {
		margin-bottom: 15px;
	}
	
	@include tablet {
		display: flex;
	}

	&__item {
		position: relative;

		&:not(:last-child) {
			margin-right: 28px;
		}

		@include tablet {

			&:not(:last-child) {

				&:after {
					content: '';
					position: absolute;
					right: -15px;
					top: 14px;
					width: 5px;
					height: 1px;
					background: color(grey, darker);
				}
				
			}
			
		}
		
	}

}

.contact-item {
	text-decoration: underline;
	color: color(grey, dark);
}