.experiences {

    &__item {
        

        &:not(:last-child) {
            margin-bottom: 35px;
        }
    }

    @include tablet {
        // display: flex;
        // flex-wrap: wrap;

        // &__item {
        //     width: p(1, 2);
        // }
    }
}

.experience {

    &__name {
        text-transform: uppercase;
        line-height: 0.8;
    }

    @include tablet {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: -43px;
            top: 8px;
            height: 12px;
            width: 30px;
            background: color(grey, light);
        }
        
        &:after {
            content: '';
            position: absolute;
            left: -47px;
            top: 5px;
            height: 12px;
            width: 30px;
            background: color(grey, lighter);
        }
        
    }

}