.experiences {

    &__item {
        

        &:not(:last-child) {
            margin-bottom: 35px;
        }
    }
}

.experience {
    position: relative;
    padding-left: 50px;

    &:before {
        content: '';
        position: absolute;
        left: 4px;
        top: 9px;
        height: 13px;
        width: 30px;
        background: color(grey, light);
    }
    
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 5px;
        height: 13px;
        width: 30px;
        background: color(grey, lighter);
    }

    &__name {
        text-transform: uppercase;
        line-height: 0.8;
    }

}