.navigation-button {
    display: inline-flex;
    flex-direction: column;
    padding: 15px 10px;
    color: white;
    text-decoration: none;
    background: color(grey);

    span {
        display: inline-block;
        width: 30px;
        height: 2px;
        background: white;
        transition: transform .3s ease;

        &:not(:last-child) {
            margin-bottom: 7px;
        }

    }

    @include tablet {
        display: none;
    }

}
