.navigation {
    $root: &;

    display: none;

    &__items {
        list-style-type: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 25px;
		}

        &--current {

            #{$root}__link {}

        }

    }

    &__link {
        position: relative;
        text-decoration: none;
        color: color(gray, dark);
		font-size: rem(14px);

		&:after {
            content: '';
            position: absolute;
			bottom: 0;
            left: -3px;
            width: 0;
            height: 8px;
            background: color(green);
            transition: width .3s ease;
			z-index: -1;
        }

        &:hover,
        &:focus {

            &:after {
                width: calc(100% + 6px);
            }

        }
    }

    @include tablet {
        display: block;
    }

}

