.project-categories {
    list-style: none;
    display: flex;

    &__item {

        &:not(:last-child) {
            margin-right: 15px;
        }

    }

}

.project-category {
    display: flex;
    align-items: center;
    padding: 4px 12px;
    font-size: 15px;
	background: color(grey);
	box-shadow: 5px 5px 0 2px rgba(color(gray), 0.3);
	color: color(grey, lighter);
}
