.projects {
    $gutter: 20px;

    display: flex;
    flex-direction: column;

	&__title {

		&:not(:last-child) {
			margin-bottom: 35px;
		}

	}

    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: -$gutter;

        &:not(:last-child) {
            margin-bottom: 15px;
        }

    }

    &__item {
        display: flex;
        padding: $gutter;
        width: 100%;
    }

    &__icon {
        width: 50px;
        height: 50px;
        color: color(grey, darker);
    }

    @include tablet {

        &__items {
            flex-direction: row;
            align-items: stretch;
            flex-wrap: wrap;

            &:not(:last-child) {
                margin-bottom: 0;
            }

        }

    }

}

.project-single {

	&__title {

		&:not(:last-child) {
			margin-bottom: 35px;
		}

	}

    &__content {

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        ul {
            list-style-position: inside;
		}

		&--image {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}

    }

	&__label {
		display: block;

		&:not(:last-child) {
			margin-bottom: 10px;
		}

	}

	&__tools {
		list-style-position: inside;
	}

	&__items {

		&:not(:last-child) {
			margin-bottom: 15px;
		}

	}

    @include tablet {

        &__link {
            justify-content: flex-end;
        }

    }

}
