.skills {
    $gutter-y: 15px;
    $gutter-x: 30px;

    display: flex;
    flex-wrap: wrap;
    margin: (-$gutter-y) (-$gutter-x);

    &__item {
        padding: ($gutter-y) ($gutter-x);
        width: 100%;

        @include tablet {

            &:nth-child(even) {

                .skill-item {
    
                    &:before {
                        content: '';
                        position: absolute;
                        right: 100%;
                        bottom: 0px;
                        border-bottom: 44px solid color(green);
                        border-left: 23px solid transparent;
                        z-index: 3;
                    }
    
                    &:after {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-top: none;
                        border-right: none;
                        z-index: 0;
                    }
    
                    &__shadow {
                        position: absolute;
                        bottom: -10px;
                        left: 10px;
                        background: lighten(color(green), 15%);
                        width: 99%;
                        height: 40px;
                        z-index: 1;
    
                        &:before {
                            content: '';
                            position: absolute;
                            right: 100%;
                            bottom: 0px;
                            border-bottom: 44px solid lighten(color(green), 15%);
                            border-left: 23px solid transparent;
                        }
    
                        &:after {
                            content: '';
                            position: absolute;
                            width: 0;
                            height: 0;
                            border-top: none;
                            border-right: none;
                            z-index: 0;
                        }
                        
                    }
                    
                }

            }
            
        }
        
    }

    @include mobile {

        &__item {
            width: p(1, 2);
        }
    }

}

.skill-item {
    $root: &;
    
    position: relative;

    @include tablet {

        &:after {
            content: '';
            position: absolute;
            left: 100%;
            bottom: 0;
            border-top: 44px solid color(green);
            border-right: 23px solid transparent;
            z-index: 3;
        }

    }

    &__label {
        position: relative;
        color: white;
        font-weight: bold;
        background: color(green);
        padding: 8px 15px;
        z-index: 2;
    }

    &__shadow {
        position: absolute;
        bottom: -10px;
        left: 10px;
        background: lighten(color(green), 15%);
        width: 99%;
        height: 40px;
        z-index: 1;

        @include tablet {

            &:after {
                content: '';
                position: absolute;
                left: 100%;
                bottom: 0;
                border-top: 44px solid lighten(color(green), 15%);
                border-right: 23px solid transparent;
            }

        }

    }

}