.skills {
    $gutter: 10px;

    display: flex;
    flex-wrap: wrap;
    margin: -$gutter;

    &__item {
        padding: $gutter;
        width: 100%;
    }

    @include mobile {}

}

.skill-item {
    $root: &;
    
    position: relative;
    background: color(green);
    padding: 8px 15px;

    &__label {
        display: inline-block;
        color: white;
        font-weight: bold;
    }

    &__decoration {
        position: absolute;
        bottom: 10px;
        left: 10px;
        background: color(grey, lighter);
        
        &:after {
            content: '';
            left: 100%;
            bottom: 0;
            border-top: 44px solid color(green);
            border-right: 23px solid transparent;
        }
    }


}